
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#contenedor {
    width: 100%;
    margin: 0 auto;
}


#cabecera {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}


#menu {
    width: 200px;
    background-color: #e0e0e0;
    padding: 10px;
    float: left; /* Coloca el menú a la izquierda */
}


#contenido {
    margin-left: 220px; /* Alinea el contenido al lado derecho del menú */
    padding: 10px;
    background-color: #f9f9f9;
    float: left; /* Coloca el contenido a la izquierda */
}


#pie {
    clear: both; /* Limpia los flotes de los elementos anteriores */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}